<div class="m-groups--filter-selector" *ngIf="group">
  <a
    class="m-groups--filter-selector-item"
    [class.m-groups--filter-selector-active]="filter == 'activity' || filter == 'review'"
    [routerLink]="[ '/groups/profile', group.guid, 'activity' ]"
    i18n="group activities selector|@@GROUPS__PROFILE__FILTER_SELECTOR__FEED_OPTION"
  >Feed</a>

  <a
    class="m-groups--filter-selector-item"
    [class.m-groups--filter-selector-active]="filter == 'conversation'"
    [routerLink]="[ '/groups/profile', group.guid, 'conversation' ]"
    i18n="@@GROUPS__CONVERSATIONS"
  >Conversations</a>
  
  <a
    class="m-groups--filter-selector-item"
    [class.m-groups--filter-selector-active]="videoChat.isActive"
    i18n="@@GROUPS__VIDEO_CHAT"
    (click)="openVideoChat()"
    *ngIf="!group.videoChatDisabled"
    >
    <span>Gathering</span>
    <i class="material-icons">video_call</i>
  </a>
</div>
