<a [routerLink]="blog.route ? [ '/' + blog.route ] : [ '/blog/view', blog.guid ]"
  class="mdl-card__title minds-blog-thumbnail"
  style="height:180px; margin-bottom:80px; background:#333; background-size:cover;"
  [ngStyle]="{background: '#333 url(' + blog.thumbnail_src + ') center center / cover'}"
  [ngClass]="{ 'm-mature-thumbnail': attachment.shouldBeBlurred(blog) }"
></a>
<span class="m-mature-thumbnail-overlay"
    *ngIf="attachment.shouldBeBlurred(blog)"
><i class="material-icons">explicit</i></span>

<!-- Owner block -->
<div class="mdl-card__supporting-text mdl-color-text--grey-600 m-title-block m-title-block-fixed m-title-block-with-actions" *ngIf="blog.ownerObj && blog.ownerObj.username">

		<a [routerLink]="blog.route ? [ '/' + blog.route ] : [ '/blog/view', blog.guid ]" class="mdl-color-text--blue-grey-700">
			<strong>{{ blog.title | excerpt: 140 }}</strong>
		</a>

		<div class="m-inline-owner-block">
			<a [routerLink]="['/', blog.ownerObj.username]" class="mdl-color-text--blue-grey-300">
				<img src="/icon/{{blog.ownerObj.guid}}/small/{{blog.ownerObj.icontime}}" class="mdl-shadow--2dp"/>
				{{blog.ownerObj.username}}
			</a>
			<span>{{ blog.time_created * 1000 | date:'mediumDate' }}</span>
			<span *ngIf="blog.ownerObj && blog.owner_guid == session.getLoggedInUser().guid && !blog.published"
				i18n="@@BLOGS__DRAFT_LABEL">Draft</span>
		</div>

</div>

<div class="mdl-card__supporting-text m-action-tabs m-action-tabs-fixed">
	<minds-button-thumbs-up [object]="blog"></minds-button-thumbs-up>
	<minds-button-thumbs-down [object]="blog"></minds-button-thumbs-down>
	<minds-button-comment [object]="blog" [routerLink]="blog.route ? [ '/' + blog.route ] : [ '/blog/view', blog.guid ]"></minds-button-comment>
</div>
