<section class="m-homepage--hero">

  <div class="m-homepage--hero--video">
    <video autoplay muted loop *ngIf="!videoError; else fallback">
      <source [src]="minds.cdn_assets_url + 'assets/videos/what-1/what-1.mp4'" type="video/mp4" (error)="onSourceError()">
    </video>
    <ng-template #fallback>
      <img [src]="minds.cdn_assets_url + 'assets/photos/cover.png'">
    </ng-template>
  </div>

  <div class="m-homepage--hero--inner">
  
    <div class="m-homepage--hero--overlay"></div>

    <div class="m-homepage--hero--slogans" *mExperiment="'Homepage121118';bucket:'base';">
      <h1 i18n="@@M__SOCIAL_NETWORK_SLOGAN">The crypto social network</h1>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__LAUNCH_CTA">
        We are an open source and decentralized platform 
        for Internet freedom. Get paid in crypto for your contributions
        to the community.
      </h3>
    </div>

    <div class="m-homepage--hero--slogans" *mExperiment="'Homepage121118';bucket:'variant1';">
      <h1 i18n="@@M__SOCIAL_NETWORK_SLOGAN">You have a voice.</h1>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__LAUNCH_CTA">
        Minds is a (r)evolutionary social app that puts power back in your hands
        with transparency, privacy & blockchain rewards. 
      </h3>
    </div>

    <div class="m-homepage--hero--slogans" *mExperiment="'Homepage121118';bucket:'variant2';">
      <h1 i18n="@@M__SOCIAL_NETWORK_SLOGAN">Earn views for contributing.</h1>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__LAUNCH_CTA">
        Minds is a (r)evolutionary social app that puts power back in your hands
        with transparency, privacy & blockchain rewards. 
      </h3>
    </div>

    <div class="m-homepage--hero--slogans" *mExperiment="'Homepage121118';bucket:'variant3';">
      <h1 i18n="@@M__SOCIAL_NETWORK_SLOGAN">Where evolution happens.</h1>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__LAUNCH_CTA">
        Minds is a (r)evolutionary social app that puts power back in your hands
        with transparency, privacy & blockchain rewards. 
      </h3>
    </div>

    <div class="m-homepage--hero--slogans" *mExperiment="'Homepage121118';bucket:'variant4';">
      <h1 i18n="@@M__SOCIAL_NETWORK_SLOGAN">Amplify your voice.</h1>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__LAUNCH_CTA">
        Minds is a (r)evolutionary social app that puts power back in your hands
        with transparency, privacy & blockchain rewards. 
      </h3>
    </div>

    <div class="m-homepage--hero--slogans" *mExperiment="'Homepage121118';bucket:'variant5';">
      <h1 i18n="@@M__SOCIAL_NETWORK_SLOGAN">How to go viral.</h1>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__LAUNCH_CTA">
        Minds is a (r)evolutionary social app that puts power back in your hands
        with transparency, privacy & blockchain rewards. 
      </h3>
    </div>

    <div class="m-homepage--signup" [hidden]="session.isLoggedIn()">
      <minds-form-register (done)="registered()"></minds-form-register>
    </div>

  </div>

</section>

<section class="m-marketing--section">
     <div class="m-blockchain--marketing--links">
      <a class="m-btn m-btn--slim m-btn--action" target="_blank" href="https://cdn-assets.minds.com/front/dist/assets/documents/Whitepaper-v0.3.pdf">Whitepaper (PDF)</a>
      <a class="m-btn m-btn--slim m-btn--action" target="_blank" routerLink="/tokens">Get Tokens</a>
    </div>
</section>

<section class="m-homepage--section" style="background-color: #FFF">
  <h1 class="" i18n="@@MINDS__HOME__HOMEPAGE__ECONOMY_TITLE">How the economy works</h1>

  <m-marketing--features></m-marketing--features>

</section>

<section class="m-homepage--section m-homepage" style="padding-top:0">
  
  <div class="m-homepage--section--grid">
    <h2 style="text-align: center; width: 100%" i18n="@@MINDS__HOME__HOMEPAGE__OUT_CORE_PRINCIPLES">Our core principles</h2>
  </div>

  <div class="m-homepage--section--grid">
    <div class="m-homepage--section--grid-col">
      <i class="material-icons">language</i>
      <h4 class="" i18n="@@HOMEPAGE__NONPARTISAN_SUBTITLE">
        Nonpartisan (r)evolution of ideas and <b>global consciousness</b>
      </h4>
    </div>
    <div class="m-homepage--section--grid-col">
      <i class="material-icons">record_voice_over</i>
      <h4 class="" i18n="@@HOMEPAGE__REAL_WORLD_SOLUTIONS_SUBTITLE">
        <b>Real world solutions</b> with free speech,
          co-ownership and open discourse
      </h4>
    </div>
    <div class="m-homepage--section--grid-col">
      <i class="material-icons">favorite</i>
      <h4 class="" i18n="@@HOMEPAGE__PRIVACY_AND_TRANSPARENCY_SUBTITLE">
        Privacy and transparency with encryption and
        <b>open source software</b>
      </h4>
    </div>
  </div>

</section>

<span style="width: 100%; height: 1px; background: #DEDEDE; display: block;"></span>

<div class="mdl-grid mdl-grid--no-spacing m-homepage--stream">

    <h4 class="mdl-color-text--blue-grey-200 mdl-cell--12-col" i18n="@@HOMEPAGE__FEATURED_POSTS_TITLE">Featured Posts</h4>
    <section class="mdl-cell mdl-cell--4-col">
      <minds-activity [object]="activity"  *ngFor="let activity of stream[1]"></minds-activity>
    </section>

    <section class="mdl-cell mdl-cell--4-col">
      <minds-activity [object]="activity"  *ngFor="let activity of stream[2]"></minds-activity>
    </section>

    <section class="mdl-cell mdl-cell--4-col">
      <minds-activity [object]="activity"  *ngFor="let activity of stream[3]"></minds-activity>
    </section>

    <div [hidden]="!inProgress" style="width:100%; text-align:center; ">
      <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
    </div>

    <div class="m-homepage--fader" [hidden]="inProgress" *ngIf="false">
      <div class="m-homepage--fader--load-more" (click)="loadStream()" i18n="@@MINDS__HOME__HOMEPAGE__SEE_MORE_ACTION">Click To See more</div>
    </div>
</div>


<div class="mdl-grid mdl-grid--no-spacing m-homepage--footer">

    <section class="mdl-cell mdl-cell--12-col m-footer">
      <img [src]="minds.cdn_assets_url + 'assets/logos/logo.svg'" />
      <ul class="m-footer-nav m-footer-nav-inline">
        <li *ngFor="let page of navigation.getItems('footer')" class="m-footer-nav-item ">
          <a *ngIf="page.path && page.path.indexOf('p/') > -1" [routerLink]="[page.path]">{{page.title}}</a>
          <a *ngIf="page.path.indexOf('p/') < 0" [href]="page.path" target="_blank">{{page.title}}</a>
        </li>
      </ul>
      <span class="copyright" i18n="@@M__COMMON__COPYRIGHT_YEAR">&#169; Minds {{'2019'}}</span>
    </section>

</div>
