/**
 * Post form
 */
.post {

  margin-bottom: $minds-padding * 2;
  width: 100%;
  min-height: 0;

  .mdl-card__supporting-text {
    overflow: visible;
  }

  > div {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    padding: 0;
    box-sizing: border-box;

    .minds-avatar {
      margin: 16px 0 16px 16px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    form {
      flex: 1;
      margin-bottom: 0;

      .mdl-textfield__input {
        width: 100%;
        border: 0;
        font-size: 13px;
        padding: 22px 16px;
      }
      .mdl-textfield__input:focus {
        outline: none;
      }

    }

    .mdl-card__actions {
      text-align: right;
      
      > * {
        margin-left: 4px;
        margin-right: 4px;
        vertical-align: middle;
      }

      .m-btn--with-icon {
        padding-right: 8px;
        i {
          margin-right: 0px;
          margin-left: 4px;
        }
      }

      m-wire-threshold-input {
        display: inline-block;
        height: 32px;
        vertical-align: middle;
        line-height: 32px;
      }

      .m-mature-button {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        i {
          cursor: pointer;
          vertical-align: middle;
        }
        span {
          font-size: 11px;
          text-transform: uppercase;
        }
      }

      .mdl-button {
        padding: 0;
      }

      .attachment-button:before {
        color: #888;
        font-family: 'material icons';
        position: absolute;
        top: 7px;
        left: 6px;
      }

      .attachment-button {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        i {
          cursor: pointer;
        }

        input {
          position: absolute;
          color: #888;
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          cursor: pointer;
          opacity: 0;
        }
        input::-webkit-file-upload-button {
          cursor: pointer;
        }

      }

    }
  }

}

m-hashtags-selector {
  line-height: 32px;
  height: 32px;
}

.post-preview {
  position: relative;
  display: block !important;

  .m-rich-embed {
    a {
      width: 100%;
    }
    img {
      width: 100%;
    }

    .meta {
      padding: $minds-padding*2;
      display: block;
      text-decoration: none;
      width: calc(100% - 32px);
    }
  }

  .mdl-spinner {
    margin: $minds-padding * 2 auto;
    display: block;
    &.attachment-preview-delete-in-progress {
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      margin: auto;
      position: absolute;
    }
  }

  .mdl-progress {
    margin: 2px 0;
    height: 8px;
  }

  .attachment-preview {
    width: 100%;
    &.video-placeholder {
      display: block;
      width: 100%;
      height: 200px;

      align-items: center;
      -webkit-align-items: center;
      i {
        font-size: 40px;
        color: #FFF;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        position: absolute;
      }
    }
  }
  .attachment-preview-delete {
    display: none;
    cursor: pointer;
  }

  &:hover {

    .attachment-preview-delete {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 200;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      i {
        font-size: 40px;
        color: #FFF;
      }
    }

  }

  .post-preview-error {
    margin-bottom: 1em;
    font-size: 12px;
    text-align: center;
    color: red;
  }

}
